<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/confirmPayement.css">
    <script src="/public/js/return.js" defer></script>
    <link rel="shortcut icon" href="/public/img/logo/logoSimple.png" type="image/x-icon">
</head>
<body>
    <% if(user && user.admin){ %>
        <%- include('partials/navAdmin.ejs') %>
    <% }else if(user && user.admin == false){ %>
        <%- include('partials/navUser.ejs') %>
    <% }else{ %>
        <%- include('partials/nav.ejs') %>
    <% } %>

    <h1>Thanks for your order!</h1>
    <section id="success" class="hidden">
        <% if (typeof err !== 'undefined') { %>
            <div id="error-message" style="text-align: center;"><%= err %></div>  
        <% } %>   
        <div>
            <h2>élement de l'objet</h2>

            <ul>
                <li><strong>Prix:</strong> <%= panier.price/100 %> € </li>
                <li><strong>Payer:</strong> <%= panier.payer %> </li>
            </ul>
        </div>
    </section>

</body>
</html>